<div class="card mx-auto mb-3 mt-4 shadow-lg">

  <div class="card-header">
      <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold">Crie uma publicação</h6>
      </a>
    
  </div>

  <div class="collapse " id="collapseCardExample">
         <div class="card-body">
            <form class="form">
              <div class="form-group ">
                <label for="exampleFormControlTextarea1">Nome do autor </label>
                <input type="text" class="form-control inputs shadow-sm" id="formGroupExampleInput" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Título da publicação </label>
                <input type="text" class="form-control inputs shadow-sm" id="formGroupExampleInput2" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Texto da publicação </label>
                <textarea class="form-control inputs shadow-sm" id="exampleFormControlTextarea1" rows="3" placeholder="O que você está pensando?"></textarea>
              </div>
              
              <div>
                  
                  <button class="btn btn-hover shadow-sm" type="submit" value="Submit">ENVIAR</button>
              </div>
              
            </form>
        </div> 
  </div>
  
</div>

<div class="card mx-auto mb-3 mt-4 shadow-lg" *ngFor= "let post of posts">
    <img class="card-img-top" src="https://picsum.photos/700/400?random={{post.id}}" height="400px" alt="Imagem de capa do card">    
    <div class="card-body">
      <h3 class="card-title mb-0">{{post.title}}</h3>
      <p> Por {{ post.author }}</p>
      <p class="card-text"> {{ post.body }} </p>
      <a routerLink = "/post">Ver mais >></a> <br><br>

      <p class="card-text d-inline mr-3"><small class="text-muted"><img src="../../assets/icon-calendario.png"> {{post.datePost | date: 'dd/MM/yyyy HH:mm:ss'}}</small></p>
      <p class="card-text d-inline mr-3"><small class="text-muted"><img src="../../assets/icon-comentario.png"> {{post.nComments}}</small></p>
              
    </div>
</div>