<div class="container-fluid bg-dark p-3 d-flex justify-content-center">
    <a class="navbar-brand " routerLink = ""><img src="../../assets/logo.png" width="457" height="100"></a>
</div>

<nav class="navbar navbar-dark bg-dark justify-content-between">
    <ul class="nav">
        <li class="nav-item" >
          <a class="nav-link texto-menu" routerLinkActive="active" routerLink = "" >HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link texto-menu" routerLinkActive="active" routerLink = "/sobre" >SOBRE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link texto-menu" routerLinkActive="active" routerLink = "/contato" >CONTATO</a>
        </li>

      </ul> 
      <form class="form-inline  justify-content-end texto-menu">
          <input class="form-control " type="search" placeholder="Pesquisar" aria-label="Pesquisar">
          <button class="btn" type="submit"><img src="../../assets/procurar.png" alt=""></button>
      </form>
  </nav>
