<!-- Default form contact -->
<div style="background: #F8F8FF;">
        <div class="container" >
                <div class="row">
                    <div class="col-8">
                        <form class="text-center  p-3" action="#!">
            
                            <p class="h4 mb-4">Contato</p>
                        
                            <!-- Name -->
                            <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">
                        
                            <!-- Email -->
                            <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">
                        
                            
                        
                            <!-- Message -->
                            <div class="form-group">
                                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
                            </div>
                        
                        
                            <!-- Send button -->
                            <button class="btn btn-info mb-4 btn-block" type="submit">Send</button>
                        
                        </form>
                        <!-- Default form contact --></div>
                        
                </div>
            </div>
            
</div>
