<div >

    <div class="container text-center p-3 mt-4" style="background: #F8F8FF;">
        <div class="row">
            <div class="col-12">
                <p class="h3 mb-4">Sobre</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto">
                <img src="../../assets/foto_lais.jpg" width="230px" height="250px" alt="">
                <p class="mt-3">
                    <b>
                        Lais Magalhões Rosa <br>
                        (35) 98765-4321 <br>
                        lais.rosa@alunos.ifsuldeminas.edu.br <br>
                        IFSULDEMINAS - Campus Poços de Caldas <br>
                        Engenharia de Computação <br>
                    </b> 

                </p>
            </div>
            <div class="col-6">
                <img src="../../assets/foto_natasha.jpg" width="230px" height="250px" alt="">
                <p class="mt-3">
                        <b>
                            Natasha Alves de Castro <br>
                            (35) 91234-5678 <br>
                            natasha.castro@alunos.ifsuldeminas.edu.br <br>
                            IFSULDEMINAS - Campus Poços de Caldas <br>
                            Engenharia de Computação <br>
                        </b> 
    
                    </p>
            </div>
        </div>
    </div>
</div>