<div class="container mt-4 shadow-lg p-4" style="background: #FFFFFF; border-radius: 1em">
    <span><h3>{{post.title}}</h3></span>
    <span class="be-comment-actions">[ <a href="">Editar</a> | <a href="">Excluir</a> ]</span>
    <p>Por {{post.author}}</p>
    <hr>
    <p>Postado em {{post.datePost | date: 'dd/MM/yyyy HH:mm'}}</p>
    <hr>
    <img src="https://picsum.photos/1100/400?random={{post.id}}" height="400px" width="100%" >
    <div class="text-justify mt-3 mb-3">
        <p>
            {{ post.body }}
        </p>
    </div>
    
    <hr>
    <div *ngIf="comments.length === 0">
        <p>Ainda não há comentários neste post</p>
    </div>

    <div *ngIf="comments.length !== 0" >
        <h1 class="comments-title">Comentários ({{ comments.length }})</h1>
        <div *ngFor="let comment of comments"> 
            <div class="be-comment">
                    <div class="be-img-comment">	
                            <!-- <img src="https://bootdey.com/img/Content/avatar/avatar{{ this.getNumeroaleatorio() }}.png" alt="" class="be-ava-comment"> -->
                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" alt="" class="be-ava-comment">

                    </div>
                    <div class="be-comment-content">
                            <span class="be-comment-name">
                                <b>{{comment.author}}</b> comentou:
                            </span>
                            <span class="be-comment-actions">
                                <img src="../../assets/icon-editar.png">
                                <img src="../../assets/icon-excluir.png">

                            </span>
                        <p class="be-comment-text">
                            <b>{{ comment.title }}</b>
                            <br><br>
                            {{ comment.body }}
                        </p>
                    </div>
            </div>
    </div>
 
        
    </div><!-- Div final -->

    <div class="card mb-4">
        <h5 class="card-header">Deixe seu comentário</h5>
        <div class="card-body">
            <form class="form" #formularioComentario="ngForm" (ngSubmit) = "addComentario(formularioComentario)" novalidate>
                <div class="form-group ">
                    <label for="labelTitulo">Título </label>
                    <input type="text" class="form-control inputs shadow-sm" name="title"required ngModel placeholder="Dê um título ao seu comentário"> 
                </div>
                <div class="form-group">
                    <label for="labelComentario">Comentário </label>
                    <textarea class="form-control inputs shadow-sm" name="body" required ngModel rows="3" placeholder="Escreva um comentário bem legal :)"></textarea>
                </div>
                <div class="form-group ">
                  <label for="labelNome">Nome </label>
                  <input type="text" class="form-control inputs shadow-sm" name="author"required ngModel placeholder="Escreva seu nome aqui">
                  
                </div>
                <div class="form-group ">
                    <label for="labelEmail">Email </label>
                    <input type="text" class="form-control inputs shadow-sm" name="email" required ngModel placeholder="Fica tranquilo, não divulgaremos seu email">
                </div>
                <div>
                    <button class="btn btn-primary shadow-sm" type="submit" [disabled] = "formularioComentario.invalid" value="Submit">ENVIAR COMENTÁRIO</button>
                </div>
                
            </form>
        </div>
    </div>

</div>